@CHARSET "UTF-8";
/* 페이징  */
.pagination>.active>a {
	background-color: #00000000;
}

.pagination>.active>a:hover {
	background-color: #00000000;
}

.pagination>li>a {
	background-color: #fff0;
	color: #00ff39
}

.pagination>li>a:hover {
	background-color: #fff0;
}