.calendarContainer{
height: auto;
    margin: auto;
    margin-top: 200px;
    width: 702px;
    border: 1px solid;
    border-color: white;
    background-color: #0000009e;
}
.calendarYear{
height: 100px;
    border-bottom: 1px solid;
    border-bottom-color: white;
    font-size: 60px;
    color: white;
    text-align: center;
    padding-top: 6px;
}
.calendarMonth{
	    height: 100px;
    border-bottom: 1px solid;
    border-bottom-color: white;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 19px;
}
.calendarDay{
	    height: 600px;
}
.day{
    height: 100px;
    width: 14.32%;
    border: 1px solid;
    border-color: white;
    display: inline-block;
    font-size: 15px;
    color: white;
    margin-right: -4px;
}
.calendarWeek{
	
}
.weekDay{
	border: 1px solid white;
    display: inline-block;
    width: 14.3%;
    margin-right: -4px;
    color: white;
}
.fa-caret-right{
	margin-left: 30px;
}
.fa-caret-left{
	margin-right: 30px;
}
.calendarYear-Data{
	display: inline-block;
}
.calendarMonth-Data{
	display: inline-block;
}