.chatContainer{
position: fixed;
    right: 120px;
    top: 160px;
    width: 180px;
    overflow: auto;
    max-height: 500px;
    border: 2px solid #ffffff4d;
    background-color: #00000052;
    padding-top: 5px;
    padding-bottom: 5px;
}

.liveChatContainer{

}
.liveChatClose{
	    display: inline-block;
    border-color: white;
        cursor: pointer;
            border-bottom: solid;
}
.chatController{
	font-size: 20px;
    text-align: center;
    border-bottom-color: white;
    border-bottom-width: 5px;
    cursor: pointer;
    color:white;
}
.liveChat{
	bottom: 0;
    right: 0;
	position: fixed;
	width: 300px;
    height: 300px;
    background-color: #0000009e;
   	color: white;
}


.liveChat input{
    color: white;
    width: 299px;
    border: 2px solid #ffffff4d;
    background-color: #0000009e;
}
.liveChat input:focus{
    outline: none;
}
.chatArea{
	width: 100%;
    height: 252px;
    overflow: auto;
        padding-left: 5px;
    padding-right: 5px;
}
.myComment{
	text-align: right;
}
.yourComment{
	text-align: left;
}
.employeeNumberList{
	cursor: pointer;
}

.chatList{
	color : white;
	padding-bottom: 10px;
}
.liveChatName{
width: 96.5%;
    display: inline-block;
        border-bottom: 2px solid #ffffff4d;
            padding-left: 5px;
}
.chatON{
	margin: 10px;
    cursor: pointer;
}
@keyframes flush {
    from {background-color: #e0dada;}
    to {background-color: #00000052;}
}
.chatName, .membersN{
	display: inline-block;
	width: 60px;
}
 .chatNumber, .membersE{
 display: inline-block;
     margin-left: 20px;
 }
 .memberStyle{
     margin-top: 15px;
     padding-left: 17px;
     border-bottom: 1px solid #ffffff4d; 
 }

.chatInfo{
margin-left: 17px;
    margin-top: 20px;
    margin-right: 9px;
}