.chatContainer{
position: fixed;
    right: 120px;
    top: 160px;
    width: 180px;
    overflow: auto;
    max-height: 500px;
    border: 2px solid #ffffff4d;
    background-color: #00000052;
    padding-top: 5px;
    padding-bottom: 5px;
}

.liveChatContainer{

}
.liveChatClose{
	    display: inline-block;
    border-color: white;
        cursor: pointer;
                border-bottom: 2px solid #ffffff4d;
}
.chatController{
	font-size: 20px;
    text-align: center;
    border-bottom-color: white;
    border-bottom-width: 5px;
    cursor: pointer;
    color:white;
}
.liveChat{
	display:none;
	bottom: 0;
    right: 0;
	position: fixed;
	width: 300px;
    height: 300px;
    background-color: #0000009e;
   	color: white;
}


.liveChat input{
	display: inline-block;
    color: white;
    width: 280px;
    border: 2px solid #ffffff4d;
    background-color: #0000009e;
}
.liveChat input:focus{
    outline: none;
}
.chatArea{
	width: 100%;
    height: 252px;
    overflow: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.chessStart{
	    margin-left: -6px;
	display: inline-block;
	    width: 16px;
	padding: 4px 15px 4px 3px;
    border: 2px solid #ffffff4d;
    border-left: 2px solid #ffffff00;
    text-align: center;
}
.chessTableClose{
	display: inline-block;
    margin-left: 285px;
}

.myComment{
	text-align: right;
}
.yourComment{
	text-align: left;
}
.employeeNumberList{
	cursor: pointer;
}

.chatList{
	color : white;
	padding-bottom: 10px;
}
.liveChatName{
width: 96.5%;
    display: inline-block;
        border-bottom: 2px solid #ffffff4d;
            padding-left: 5px;
}
.chatON{
	margin: 10px;
    cursor: pointer;
}
@keyframes flush {
    from {background-color: #e0dada;}
    to {background-color: #00000052;}
}
.chatName, .membersN{
	display: inline-block;
	width: 60px;
}
 .chatNumber, .membersE{
 display: inline-block;
     margin-left: 20px;
 }
 .memberStyle{
     margin-top: 15px;
     padding-left: 17px;
     border-bottom: 1px solid #ffffff4d; 
 }

.chatInfo{
margin-left: 17px;
    margin-top: 20px;
    margin-right: 9px;
}
/* chess */
.chessController{
	    border: 2px solid white;
    color: white;
}
.chessTable{
    position: fixed;
    width: 400px;
    height: 400px;
    margin: 20px auto;
    top: 200px;
    left: 30%;
}
#chessboard {
	/* 	max-height: 504px;
	max-width: 504px;
 */
	
}
#chessboard img{
	width: 50px;
    height: 50px;
}
#cellprefix {
	width: 100%;
	height: 100%;
	max-height: 40px;
	max-width: 40px;
	float: left;
	margin: 5px;
	padding: 15px 0 0 20px;
}

.red {
	background: #C3C3C3;
}

#result {
	position: fixed;
   width: 290px;
    height: 640px;
    background-color: #000000e0;
    top: 0;
    right: 0;
}

.chess {
	border: 1px solid #00a4a2;
	width: 100%;
	height: 100%;
	max-height: 50px;
	max-width: 50px;
	float: left;
	/* margin: 3px; */
	transition: all 0.5s ease-in-out;
	border-radius: 5px;
	/* 	padding: 0 0 0 6px;
 */
	font-size: 30pt;
	cursor: pointer;
	z-index: 1;
}

.chess:hover {
	color: #fff;
	background: #B1DB4E;
	z-index: 2;
	transform: translate(10px, -10px);
	animation: solution 1.5s ease-in-out infinite alternate;
}

#see {
	width: 50px;
	height: 50px;
}

#wow {
	width: 10px;
	height: 10px;
}

.availMoveChess, .availMoveRed {
	background: #B1DB4E;
}
.chessRequest{
	    display: inline-block;
	
	    color: white;
    padding: 10px;
}
.chessLabel{
	    display: inline-block;
	
	font-size: 20px;
    padding: 10px;
}
.chessResultClose{
	display: inline-block;
    margin-left: 80px;
    padding: 5px 10px;
    border: 1px solid;
	
}
.chessText{
}
.chessYes, .chessNo{
	display: inline-block;

    width: 50px;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid;
}

#deletedWhite,#deletedBlack{
	display: block;
    width: 268px;
    height: 80px;
    background-color: #ffffff30;
    margin-top: 10px;
    right: 0;
    border: 1px solid #4e5c68;
}
#deletedWhite img,#deletedBlack img{

    width: 15px;
    height: 20px;

}

.chessTextContainer{
	    background-color: #ffffff30;
	        border: 1px solid #4e5c68;
	            overflow: auto;
    height: 390px;
}




.reChessTable{
     display: inline-block;
    width: 400px;
    height: 400px;
}



#reChessboard {

	
}
#reChessboard img{
	width: 50px;
    height: 50px;
}

.reChess {
    height: 50px;
    width: 50px;
    float: left;

    border-radius: 5px;

}
.reResult{
	background-color: #ffffff47;
    width: 200px;
    height: 400px;
    display: inline-block;
    margin-left: 100px;
}