@CHARSET "UTF-8";
       /* Add a black background color to the top navigation */
html,body {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
#mainimage {
    /* The image used */
    background-image: url("../../resources/images/main/mainbuilding.png");
    -webkit-filter: contrast(150%); /* Safari 6.0 - 9.0 */
    filter: contrast(150%);
    /* Full height */
    height: 850px; 
    wh
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main2{
    width: 40%;
    height: 500px;
    background-color: #E9F3F6;
    min-width: 450px;
    position: absolute;
}
.blur {
    top: 100px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 54, 102, 0.7); /* Black background with transparency */
    color: #f1f1f1;
    width: 40%;
    height:850px;
    min-width: 450px;
}
.blur .blurtext{
    width: 300px;
    height: 150px;
    margin: auto;
    right: 20px;
    margin-top: 280px;
    margin-right: 25px;
    }
.topnav {

    background-color: white;
    overflow: hidden;
    top: 25px;

    margin-right:0px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #123478;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14.5px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #6CEEFF;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.logo {
float:left;
vertical-align:baseline;
    
}
.main2 h1 {
    padding-left: 20%;
    padding-top: 80px;
    color: #24466F;
    font: normal normal normal 42px/1.4em raleway,sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}
.main2 p {
    padding-left: 20%;
    color: #24466F;
    font: normal normal normal 42px/1.4em raleway,sans-serif;
    margin-top: 0;
}
/*.container {
    position: relative;
}*/
.txtbox1 {
    display: block;
    width: 100%;
    visibility: inherit;
    object-fit: cover;
    background-color: #F7F7F7;
    height :500px;
    min-width: 900px;
    margin: auto;
}
.txtbox2{
    margin:auto;
    display: block;
    width: 60%;
    visibility: inherit;
    object-fit: cover;
    background-color: #FFFFFF;
    height :450px;
    padding-left:40%;
  /*  border: 1px solid #E1E1E1;*/
}
.middle-nav{
    background-color: #F7F7F7;
    height: 50px;
    list-style: none;   
    padding: 0;
    margin:0;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 90px;
}

#middle-menu {
    position: relative;
    padding: 14px 16px;
    text-decoration: none;
    color: grey;
    float: left;
   
   
}
#middle-menu a:hover{
    background-color: #EBEBEB;
    font-weight: bold;
    font-size: 18px;
}
.middle-nav a:hover{
    /*color:white;*/
/*    font-size: 18px;*/
    padding: 0px;
    margin:0px;
}
.middle-list{
    min-width: 800px;
    max-width: 60%;
    display: block;
    list-style: none;
    padding: 0px;  
    position: absolute;
    padding-top: 80px;
    margin: auto;
}
#noticeList, #noticeList a {
    text-decoration: none;
    padding-bottom: 5px;
}
#noticeList a:hover{
    text-decoration: none;
    font-weight: bold;
}
span.ntDPT {
    display:inline-block;
    width:100px;
    color:#00479d;
    padding-left: 5px;
}
.plusList a{
    position: absolute;
    background-image: url("../../resources/images/main/plus.png");
    background-repeat: no-repeat;
    background-position: left top;
    height: 30px;
    width: 30px;
}
.plusList a:hover{
    color: blue;
}
.font1 {
    font: normal normal normal 20px/1.4em 'open sans',sans-serif;
    color:#00305B;
    margin-top: 4px;
    margin: 0;
}
.p1{
    height:20px;
    margin: 0px;
    width: auto;
}
.blank{
    height:20px;
    margin: 0px;
}
