
::-webkit-input-placeholder{
color:#a0a0a0;
} 



body>h1 {
	color: #fff;
	text-align: center;
	font-family: serif;
	font-size: 55px;
	text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
	margin: 40px 0 0 0;
}

.opt {
	width: 98%;
	margin: 0 auto;
	padding-right: 5px;
	background-color: #ffffffad;
	color: #000000;
}

.opt, .opt a {
	text-transform: uppercase;
	font-size: 9px;
	color: #000000;
}

.opt a:hover {
	text-decoration: none;
}

.opt .post {
	background: #999;
	color: #ccc;
	text-decoration: none;
	border-radius: 4px;
	padding: 5px 10px;
	font-size: 10px
}

.opt .post:hover {
	background: #444;
}

#feed {
	margin: 0;
	padding: 0
}

#feed>li {
	position: relative;
	padding: 20px 20px 0px 20px;
	color: #fff;
	list-style: none;
	background: #000000ad;
	margin: 20px 1%;
	box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	transition: all 0.2s;
	overflow: hidden;
	min-height: 88px
}

.content a {
	color: #a0a0a0;
	text-decoration: none;
	font-weight: bold;
	max-width: 80%;
	overflow: hidden
}

.content a:hover {
	text-decoration: underline
}

.content>div {
	opacity: 0;
	max-height: 0px;
	overflow: hidden;
	padding: 0 10px;
	transition: all 0.2s;
	box-sizing: border-box;
	background: #00000060;
	font-size: 14px;
	margin: 20px auto;
	border: 1px solid #968181;
	color: #dadada;
	text-align: justify;
	box-shadow: 3px 5px 6px 0px rgba(0, 0, 0, 0.1) inset;
	border-radius: 3px
}


#feed li i {
	
	top: -5px;
	text-align:right;
	z-index: 3;
	font-size: 15px;
	transition: all 0.8s;
	display: block;
}

#feed li:hover i {
	opacity: 0;
	transition: all 0.2s;
}

 


#feed h1, #feed h2 {
	font-size: 16px
}

.apply {
	background: #08d;
	color: #fff;
	font-size: 11px;
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 5px 10px;
	border-radius: 3px
}

.apply:hover {
	background: #06a;
	text-decoration: none
}

#feed.dark>li {
	background: rgba(0, 0, 0, 0.9)
}

#feed.dark li>div {
	background: rgba(0, 0, 0);
	border-color: #fff;
	color: #fff
}